/* Elementos generales */
* {
    font-family: 'Neuton', sans-serif, arial;
}

p,
li,
strong,
ul>a {
    font-size: 107.5%;
}

.carousel-position {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0;
}

.carrito-position {
    margin-left: auto;
    width: 6%;
}

.badge-position {
    position: absolute;
    left: -12%;
    font-size: 99%;
}

.flecha-position {
    margin-left: auto;
    width: 6%;
}

.a-link-color {
    color: black;
}

.hidden {
    visibility: hidden;
}

.item-separation {
    display: flex;
    justify-content: space-between;
}

.sub-products-item-separation {
    display: flex;
    justify-content: space-between;
    width: 27%;
    align-items: center;
}

.rotate {
    transition: .5s;
    transform: rotate(180deg);
}

.rotate-origin {
    transition: .5s;
    transform: rotate(360deg);
}

/* Seguimiento del scroll de categorias y carrito */
.scroller_anchor {
    position: absolute;
    height: 0px;
    padding: 0;
}

/* FIN Seguimiento del scroll de categorias y carrito */

#hoverItem:hover,
.hoverItem:hover {
    cursor: pointer;
}

@media (max-width: 1000px) {
    .carrito-position {
        width: 12%;
    }

    .flecha-position {
        width: 10%;
    }
}

@media (max-width: 600px) {
    .carrito-position {
        width: 20%;
    }

    .flecha-position {
        width: 20%;
    }
}