/* Elementos generales */
* {
    font-family: 'Neuton', sans-serif, arial;
}

p,
li,
strong,
ul>a {
    font-size: 107.5%;
}

/* Clases */
.carousel-position {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    padding: 0;
}

.bg-container {
    background-color: white;
    margin-top: 35%;
}

.list-noborder-t {
    border-top: none;

}

.list-noborder-b {
    border-bottom: none;
}

.list-noborder {
    border-top: none;
    border-bottom: none;
}

.carrito-position {
    margin-left: auto;
    width: 6%;
}

.carrito-position:hover {
    cursor: pointer;
}

.badge-position {
    position: absolute;
    left: -7%;
    font-size: 99%;
}

.a-link-color {
    color: black;
}

.hidden {
    visibility: hidden;
}

.item-separation {
    display: flex;
    justify-content: space-between;
}

.sub-products-item-separation {
    display: flex;
    justify-content: space-between;
    width: 27%;
    align-items: center;
}

.rotate {
    transition: .5s;
    transform: rotate(180deg);
}

.rotate-origin {
    transition: .5s;
    transform: rotate(360deg);
}

/* Seguimiento del scroll de categorias y carrito */
.scroller_anchor {
    position: absolute;
    margin-top: -3%;
    height: 0px;
    padding: 0;
}

/* FIN Seguimiento del scroll de categorias y carrito */