{% extends "templates/adminLayout.twig" %}

{% block container %}
<form class="mt-5" method="POST" action="index.php?controller=Administradores&action=comprobarDatos">
    <div class="form-group">
        <label for="usuarioAdmin">Usuario</label>
        <input type="text" class="form-control" id="usuarioAdmin" name="usuarioAdmin" placeholder="Usuario" REQUIRED>
    </div>
    <div class="form-group">
        <label for="passwordAdmin">Contraseña</label>
        <input type="password" class="form-control" id="passwordAdmin" name="passwordAdmin" placeholder="Contraseña" REQUIRED>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
{% endblock %}