{% extends "templates/indexLayout.html.twig" %}

{% block container %}
    <h1>Este es el index</h1>
    <a class="btn btn-outline-primary" name="formularioCliente" href="index.php?controller=clientes&action=cargarFormulario">formularioCliente</a>
{% endblock %}